@{
    ViewBag.Title = "Preferences";
}

@model Kitchenary.Models.PreferencesModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign-In with Microsoft Guided Setup (Work Accounts)</title>
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- If the user is not authenticated, display the sign-in button -->
        <br /><a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
            <style type="text/css">
                .fil0:hover {
                    fill: #4B4B4B;
                }

                .fnt0 {
                    font-size: 260px;
                    font-family: 'Segoe UI Semibold', 'Segoe UI';
                    text-decoration: none;
                }
</style>
            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" /><rect x="150" y="129" width="122" height="122" fill="#F35325" /><rect x="284" y="129" width="122" height="122" fill="#81BC06" /><rect x="150" y="263" width="122" height="122" fill="#05A6F0" /><rect x="284" y="263" width="122" height="122" fill="#FFBA08" /><text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
        </svg>
        </a>
    }
    else
    {
              <div class="jumbotron">
                  <h1>Preferences</h1>
                  <p class="lead">Hello @ViewBag.Name!</p>
                  <p>Select your preferences below:</p>

                  @using (Html.BeginForm("Create", "Preferences", FormMethod.Post))
                  {
                  <div class="row">
                      <div class="col-sm-6">
                          <h4>Dietary Restrictions:</h4>
                          @Html.DropDownListFor(x => x.DietaryRestrictions, new SelectList(Enum.GetValues(typeof(EdamamService.Health))), new { multiple = "multiple", @class = "form-control" })
                      </div>

                      <div class="col-sm-6">
                          <h4>Diet</h4>
                          @Html.DropDownListFor(x => x.Diet, new SelectList(Enum.GetValues(typeof(EdamamService.Diet))), new {@class = "form-control" })
                      </div>
                  </div>

                  <br />
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="submit" name="Save Preferences">Save</button>
                      </span>

                  }
              </div>
    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }
</body>
</html>

